<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add New Flight</title>
  </head>
  <body>
    <h1>Add New Flight</h1>
    <br />
    <a href="/">Home</a>
    <form action="/flights" method="POST">
      <div class="form-group">
        <label for="airline">Airline:</label>
        <select id="airline" name="airline" class="form-control" required>
          <option value="American">American</option>
          <option value="Southwest">Southwest</option>
          <option value="United">United</option>
        </select>
      </div>
      <div class="form-group">
        <label for="flightNo">Flight Number:</label>
        <input
          type="number"
          id="flightNo"
          name="flightNo"
          class="form-control"
          required
          min="10"
          max="9999"
        />
      </div>
      <div class="form-group">
        <label for="airport">Airport:</label>
        <select id="airport" name="airport" class="form-control" required>
          <option value="AUS">AUS</option>
          <option value="DFW">DFW</option>
          <option value="DEN">DEN</option>
          <option value="LAX">LAX</option>
          <option value="SAN">SAN</option>
        </select>
      </div>
      <div class="form-group">
        <label for="departs">Departure Date/Time:</label>
        <input
          type="datetime-local"
          id="departs"
          name="departs"
          class="form-control"
          required
        />
      </div>
      <div class="form-group">
        <label for="price">Price:</label>
        <input
          type="number"
          id="price"
          name="price"
          class="form-control"
          required
        />
      </div>
      <input type="submit" value="Add Flight" />
    </form>
  </body>
</html>
